
// own calender additions for monthpicker & prev,next button near month name
#calendar .fc-prev-button {
	margin:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
#calendar .fc-next-button {
	margin:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
#calendar #fc-datepicker,
#calendar #fc-monthpicker {
	margin:0;
	padding:0;
}
#calendar .fc-toolbar .fc-center h2 {
	margin:0;
	padding:.3em .5em 0;
	height:1.4em;
	font-size:1.5em;
	box-sizing:border-box;
	cursor:pointer;
	background:@jqueryCalenderAdditionsBackground;
	border:1px solid @jqueryCalenderAdditionsBorderColor;
	color:@jqueryCalenderAdditionsFontColor;
}
#calendar .fc-toolbar .fc-center h2:hover {
	background: @jqueryCalenderAdditionsBackgroundHover;
	border:1px solid @jqueryCalenderAdditionsBorderColorHover;
	color:@jqueryCalenderAdditionsFontColorHover;
}
